<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <input type="text" class="form-control" placeholder="Que Busca?">
    </div><!-- /.col-lg-6 -->
  </div>
  <div class="row" style="margin-top:10px;">
    <div class="col-md-6 col-md-offset-3">
      <button class="btn btn-warning" type="button"><i class="fa fa-tag" aria-hidden="true"></i> Agregar Prioridades </button>
      <button class="btn btn-success" type="button">Agregar un hogar</button>
    </div>
  </div>
</div>



<div class="container-fluid" id="home-text">
  <div class="col-xs-12 col-md-offset-2 col-md-8" style="text-align:center;">
    <p>
      Living House es una plataforma para corredores que te permitira publicar, buscar y
      comparar entre los inmuebles disponibles en la region de tu seleccion (Solo disponible
      en la Floresta, Mun CHACAO por los momentos).
    </p>
    <p>
      Ven y se parte de la revolucion tecnologica en la venta de inmuebles.
    </p>
    <h3>
      "Tener prioridades es mejor que eliminar opciones" <strong>-LH</strong>
    </h3>
  </div>
</div>
