<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">

      <div class="row">
        <label class="col-sm-2">Ubicación</label>
        <div class="col-sm-10">
          <nit-advanced-searchbox
            ng-model="searchParams"
            parameters="availableSearchParams"
            placeholder="Avenida, Urbanizacion" >
          </nit-advanced-searchbox>
        </div>
          <label class="col-sm-1">Deste</label>
          <div class="col-sm-3">
            <input type="text" ui-number-mask="0" class="form-control col-sm-3" placeholder="0 Bsf" ng-model="searchHouse.price.min" value="0" ng-change="newPagination()">
          </div>

          <label class="col-sm-1">Hasta</label>
          <div class="col-sm-3">
            <input type="text" ui-number-mask="0" class="form-control col-sm-3" placeholder="999,999,999 Bsf" ng-model="searchHouse.price.max" value="10000000000"ng-change="newPagination()">
          </div>
      </div>

      <div class="row" style="margin: 10px 0px 5px 0px;">
          <button class="btn btn-warning col-xs-12 col-md-6 col-md-offset-3 text-center" type="button" ng-click="home.addPriority()">Busqueda Avanzada</button>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <label>Publicar un inmueble ahora</label>
        </div>
      </div>
      <div class="row" style="margin: 5px 0px;">
          <button class="btn btn-success col-xs-12 col-md-6 col-md-offset-3 text-center" type="button" ng-click="home.addHouse()" >Publicar un hogar</button>
      </div>
    </div>
  </div>

</div>


<div class="container" ng-show="priorities">
  <div class="row">
    <h2 class="text-center">Busqueda avanzada por metas</h2>
  </div>
  <div class="row">
    <div class="panel panel-info col-md-12">
      <div class="panel-heading text-center" >
        <strong style="font-size: 16px">Metas</strong>
        <p style="font-size: 14px">
          A continuación se le presenta el sistema de Busqueda Avanzada, seleccionando las caracteristicas
          de su hogar ideal y distribuyendo el peso (mientras mayor sea el peso asignado, mayor prioridad le dara el sistema)
          entre cada una de las caracteristicas, el sistema le mostrara de forma ordenada aquellos que mejor se
          adapten a su meta.
        </p>
      </div>
      <table class="table" ng-show="home.priorityGoal.length>0">
        <tr>
          <td><strong>Criterio</strong></td>
          <td><strong>Valor</strong></td>
          <td><strong>Peso</strong></td>
          <td></td>
        </tr>
        <tr ng-repeat="item in home.priorityGoal" >
          <td class="col-sm-4">{{ item.nombre }}</td>
          <td class="col-sm-4" ng-show="item.nombre != 'Precio'">{{ item.value }}</td>
          <td class="col-sm-4" ng-show="item.nombre == 'Precio'">{{ item.value | currency:"BsF." }}</td>
          <td class="col-sm-3">
            <i class="fa fa-arrow-left" aria-hidden="true" ng-click="minusPercentaje($index)" ng-show="item.percentaje>0 && item.percentaje>1"></i>
            <label>{{ item.percentaje }}</label>
            <i class="fa fa-arrow-right" aria-hidden="true" ng-click="plusPercentaje($index)" ng-show="home.leftPercentaje>0"></i>
          </td>
          <td class="col-sm-1">
            <i class="fa fa-times" aria-hidden="true" ng-click="ereasePriority($index)"></i>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 " ng-class="{ 'col-md-offset-4': home.priorityGoal.length==0, 'col-md-offset-2': home.priorityGoal.length>0 }">
      <form class="form-inline" ng-submit="home.addGoal()">
        <div class="form-group text-center">
          <label>Agregar nuevo criterio de busqueda</label>
          <select class="form-control" ng-model="home.prioritySelected">
            <option>--Seleccione--</option>
            <option ng-repeat="option in home.availableOptions" >{{option.nombre}}</option>
          </select>
          <input type="text" ui-number-mask="0" style="margin-top: 10px;" class="form-control" ng-model="home.priorityInputA" placeholder="Ej: 1000.00"
            ng-show="home.prioritySelected == 'Edad' || home.prioritySelected == 'Dimensiones (Ancho)'|| home.prioritySelected == 'Dimensiones (Largo)' || home.prioritySelected == 'Metros de Construción' || home.prioritySelected == 'Metro Cuadrados'|| home.prioritySelected == 'Precio'">
          <select class="form-control text-center" ng-model="home.priorityInputB"
            ng-show="home.prioritySelected == 'Pisos'|| home.prioritySelected == 'Baños' || home.prioritySelected == 'Medios Baños'|| home.prioritySelected == 'Cuartos' || home.prioritySelected == 'Estacionamiento'">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
          </select>
          <select class="form-control text-center" ng-model="home.priorityInputC"
            ng-show="home.prioritySelected == 'Calle Cerrada'|| home.prioritySelected == 'Vigilante'">
            <option>Si</option>
            <option>No</option>
          </select>
          <select class="form-control text-center" ng-model="home.priorityInputD"
            ng-show="home.prioritySelected == 'Tipo de Inmueble'">
            <option>Casa</option>
            <option>Apartamento</option>
            <option>Terreno</option>
            <option>Townhouse</option>
          </select>
          <select class="form-control text-center" ng-model="home.priorityInputE"
            ng-show="home.prioritySelected == 'Municipio'">
            <option>Baruta</option>
            <option>Chacao</option>
            <option>Hatillo</option>
            <option>Libertador</option>
            <option>Sucre</option>
          </select>
          <button style="margin: 10px 0px;" ng-hide="(!markerGoal && home.prioritySelected == 'Distancia') || home.prioritySelected == '--Seleccione--' " type="submit" class="btn btn-primary" ng-show="auxPlusGoal<10">
            Agregar criterio
          </button>
        </div>

      </form>
    </div>
    <div class="col-md-4 text-center" ng-show="home.priorityGoal.length>0">
      <div ng-show="home.priorityGoal.length>0">
        <fusioncharts
            width="100%"
            height="200"
            type="pie3d"
            datasource="{{myDataSource}}"
        ></fusioncharts>
      </div>
      <label>Peso disponible por asignar: {{ home.leftPercentaje }}</label>
    </div>
  </div>
  <div class="row" style="margin-bottom: 10px">
    <button type="button" class="btn btn-success col-md-2 col-md-offset-3" ng-click="home.sortPriorities()" ng-show="home.leftPercentaje == 0 && home.priorityGoal.length != 0">
      Iniciar busqueda avanzada
    </button>
    <button type="button" class="btn btn-danger col-md-2 col-md-offset-2" ng-click="home.resetOrder()" ng-show="home.priorityGoal.length != 0">Borrar todo</button>
    <span ng-hide="home.leftPercentaje == 0" >Todavia tienes porcentajes por repartir</span>
  </div>
  <div class="row" style="height:300px; margin-bottom: 10px;" ng-show="home.prioritySelected == 'Distancia'">
    <div id="map-goals"></div>
  </div>


</div>

<!-- ============== MODAL COMPARACION HOGARES =================-->

<!-- Modal -->
<div class="modal fade text-center" id="userHouseAuth" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" ng-click="hideModal()" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Necesitas haber ingresado</h4>
      </div>
      <div class="modal-body">
        <p>Para poder publicar un Hogar, necesitas estar registrado</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="main.setLocation('/register')" data-dismiss="modal">Registrarse</button>
        <button type="button" class="btn btn-danger" ng-click="main.setLocation('/login')" data-dismiss="modal">Ingresar</button>
      </div>
    </div>

  </div>
</div>

<div class="modal fade text-center" id="compareModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" ng-click="hideModal2()" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Comparacion de inmuebles</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align: center;">
            <strong>Características del Hogar</strong></strong>
          </div>
          <table class="table">
            <tr>
              <td><strong>A comparar</strong></td>
              <td><strong>A</strong></td>
              <td><strong>B</strong></td>
            </tr>
            <tr>
              <td><strong>Direccion</strong></td>
              <td>{{ home.compare[0].address }}</td>
              <td>{{ home.compare[1].address }}</td>
            </tr>
            <tr>
              <td><strong>Edad</strong></td>
              <td ng-class="{'success': home.compare[0].age < home.compare[1].age}">{{ home.compare[0].age }}</td>
              <td ng-class="{'success': home.compare[1].age<home.compare[0].age}">{{ home.compare[1].age }}</td>
            </tr>
            <tr>
              <td><strong>Baños</strong></td>
              <td ng-class="{'success': home.compare[0].bathrooms > home.compare[1].bathrooms}">{{ home.compare[0].bathrooms }}</td>
              <td ng-class="{'success': home.compare[0].bathrooms < home.compare[1].bathrooms}">{{ home.compare[1].bathrooms }}</td>
            </tr>
            <tr>
              <td><strong>Medios Baños</strong></td>
              <td ng-class="{'success': home.compare[0].medBathrooms > home.compare[1].medBathrooms}">{{ home.compare[0].medBathrooms }}</td>
              <td ng-class="{'success': home.compare[0].medBathrooms < home.compare[1].medBathrooms}">{{ home.compare[1].medBathrooms }}</td>
            </tr>
            <tr>
              <td><strong>Pisos</strong></td>
              <td ng-class="{'success': home.compare[0].floors > home.compare[1].floors}">{{ home.compare[0].floors }}</td>
              <td ng-class="{'success': home.compare[0].floors < home.compare[1].floors}">{{ home.compare[1].floors }}</td>
            </tr>
            <tr>
              <td><strong>Vigilancia</strong></td>
              <td ng-class="{'success': home.compare[0].guard === 'Si'}"><strong>{{ home.compare[0].guard }}</strong> hay Vigilante</td>
              <td ng-class="{'success': home.compare[1].guard === 'Si'}"><strong>{{ home.compare[1].guard }}</strong> hay Vigilante</td>
            </tr>
            <tr>
              <td><strong>Metros Cuadrados</strong></td>
              <td ng-class="{'success': home.compare[0].meters > home.compare[1].meters}">{{ home.compare[0].meters }}</td>
              <td ng-class="{'success': home.compare[0].meters < home.compare[1].meters}">{{ home.compare[1].meters }}</td>
            </tr>
            <tr>
              <td><strong>Metros Cuadrados de Construccion</strong></td>
              <td ng-class="{'success': home.compare[0].consmeters > home.compare[1].consmeters}">{{ home.compare[0].consmeters }}</td>
              <td ng-class="{'success': home.compare[0].consmeters < home.compare[1].consmeters}">{{ home.compare[1].consmeters }}</td>
            </tr>
            <tr>
              <td><strong>Estacionamiento</strong></td>
              <td ng-class="{'success': home.compare[0].parking > home.compare[1].parking}">{{ home.compare[0].parking }}</td>
              <td ng-class="{'success': home.compare[0].parking < home.compare[1].parking}">{{ home.compare[1].parking }}</td>
            </tr>
            <tr>
              <td><strong>Habitaciones</strong></td>
              <td ng-class="{'success': home.compare[0].rooms > home.compare[1].rooms}">{{ home.compare[0].rooms }}</td>
              <td ng-class="{'success': home.compare[0].rooms < home.compare[1].rooms}">{{ home.compare[1].rooms }}</td>
            </tr>
            <tr>
              <td><strong>Calle Cerrada </strong></td>
              <td ng-class="{'success': home.compare[0].streetclose === 'Abierta'}">{{ home.compare[0].streetclose }}</td>
              <td ng-class="{'success': home.compare[1].streetclose === 'Abierta'}">{{ home.compare[1].streetclose }}</td>
            </tr>
            <tr>
              <td><strong>Precio</strong></td>
              <td ng-class="{'success': home.compare[0].price < home.compare[1].price}">{{ home.compare[0].price | currency:"Bsf "}}</td>
              <td ng-class="{'success': home.compare[0].price > home.compare[1].price}">{{ home.compare[1].price | currency:"Bsf "}}</td>
            </tr>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="main.setLocation('/house/'+idSelected[0])" data-dismiss="modal">Ver A</button>
        <button type="button" class="btn btn-danger" ng-click="main.setLocation('/house/'+idSelected[1])" data-dismiss="modal">Ver B</button>
      </div>
    </div>

  </div>
</div>

<!-- ====================== REGISTRO HOGAR ============== -->

<div class="container-fluid text-center" ng-show="regHouseForm">
  <div class="container">
    <div class="page-header">
      <h1>Registro de Hogar</h1>
    </div>
    <div class="row show-hide-message" ng-show="home.successMsg">
      <br>
      <div class="alert alert-success ">{{ home.successMsg }}</div>
    </div>

    <div class="row show-hide-message" ng-show="home.errorMsg">
      <br>
      <div class="alert alert-danger">{{ home.errorMsg }}</div>
    </div>

      <form class="col-sm-8 col-sm-offset-2" name="regHomeForm" ng-submit="home.regHouse(regData)">

      <div class="row">
        <div class="form-group">
            <label for="picture">Imagen Principal</label>
            <div class="text-center">
                <button type="button" class="btn btn-default" ng-click="upload()">
                    Subir <span class="caret"></span>
                </button>
                <div style="margin-top:10px;">
                    <!-- Show the thumbnail only when the picture is uploaded -->
                    <a href="{{superhero.picture.url}}" class="thumbnail" ng-if="superhero.picture">
                    <!-- the picture is rendered with width: 500 and sharpened -->
                    <img ng-src="{{superhero.picture.url | fpConvert: {filter:'sharpen'} }}">
                    </a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="picture">Mas imagenes? (Max 10, <label style="color: #B4B4B4;">opcional</label>)</label>
            <div class="text-center">
              <button type="button" class="btn btn-default" ng-click="uploadMultiple()" ng-show="max>0">
                Subir <span class="caret"></span>
              </button>
              <!-- Show the thumbanil of more pictures -->
              <div style="margin-top:10px;" ng-repeat="picture in superhero.morePictures">
                <div class="col-md-{{12 / superhero.morePictures.length}}">
                  <a href="{{picture.url}}" class="thumbnail">
                    <img ng-src="{{picture.url | fpConvert: {filter:'sharpen'} }}">
                  </a>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="row">
        <div id="map"></div>
      </div>



      <!-- Direccion -->
      <div class="row">
        <div class="form-group col-sm-3">
          <label>Municipio</label>
          <select class="form-control text-center" ng-model="home.regData.township">
            <option>Baruta</option>
            <option>Chacao</option>
            <option>Hatillo</option>
            <option>Libertador</option>
            <option>Sucre</option>
          </select>
        </div>
        <div class="form-group col-sm-7">
          <label>Dirección</label>
          <input class="form-control text-center" type="text" name="address" placeholder="Ej: El Cafetal, Calle Limón, Quinta Wachu" ng-model="home.regData.address" required>
        </div>
        <div class="form-group col-sm-2">
          <label>Zona</label>
          <p class="form-control-static" style="color: red; font-size:18px;"><strong>{{home.regData.zonetype}}</strong></p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="form-group col-sm-3">
          <label>Tipo de Inmueble</label>
          <select class="form-control text-center" ng-model="home.regData.type">
            <option>Casa</option>
            <option>Apartamento</option>
            <option>Terreno</option>
            <option>Townhouse</option>
          </select>
        </div>
        <div class="form-group col-sm-3">
          <label>Habitaciones</label>
          <select class="form-control text-center" ng-model="home.regData.rooms">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
          </select>
        </div>

        <!-- Bathrooms -->
        <div class="form-group col-sm-3">
          <label>Baños</label>
          <select class="form-control" ng-model="home.regData.bathrooms">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
          </select>
        </div>
        <div class="form-group col-sm-3">
          <label>Medios Baños</label>
          <select class="form-control" ng-model="home.regData.medBathrooms">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
          </select>
        </div>
      </div>

      <div class="row form-group">
        <p class="col-sm-12">
          A continuación puede escoger entre ingresar el Ancho y Largo del Terreno y sera calculado el tamaño de forma
          automática o ingresar su valor si lo desea. Utilice el Switche (ubicado a la izquierda), pera seleccionar la
          opción de su preferencia
        </p>
        <div class="col-sm-1">
          <md-switch ng-click="home.blockCalc()" style="width:50px; margin: 0px auto;" class="md-primary" ng-model="home.calcM" aria-label="Switch 3"></md-switch>
        </div>
        <div class="col-sm-8">
          <div class="col-sm-12">
            <label>Dimensiones del Terreno(m)</label>
          </div>
          <div class="col-sm-5">
            <input class="form-control text-center" type="text" ui-number-mask="0" ng-change="home.calculateMeters()" ng-disabled="!home.calcM" ng-min="0" step="0.01" placeholder="Ancho" ng-model="home.regData.dimensionsX" required>
          </div>
          <div class="col-sm-2 text-center">
            <span>x</span>
          </div>
          <div class="col-sm-5">
            <input class="form-control text-center" type="text" ui-number-mask="0" ng-change="home.calculateMeters()" ng-disabled="!home.calcM" ng-min="0" step="0.001" placeholder="Largo" ng-model="home.regData.dimensionsY" required>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group col-sm-12">
            <label>Pisos</label>
            <select class="form-control" ng-model="home.regData.floors" required>
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
            </select>
          </div>
        </div>
        <!-- Dimensiones -->


      </div>

      <div class="row">
        <div class="form-group col-sm-6">
          <label>Metros Cuadrados de Parcela (m<sup>2</sup>) </label>
          <input class="form-control text-center" type="text" ui-number-mask="0" ng-disabled="home.calcM" ng-min="0" step="0.01" placeholder="Ej: 1,253.4" ng-model="home.regData.meters" required>
        </div>
        <div class="form-group col-sm-6">
          <label>Metros Cuadrados de Contrucción (m<sup>2</sup>)</label>
          <input class="form-control text-center" type="text" ui-number-mask="0" ng-min="0" step="0.01" placeholder="Ej: 1,253.4" ng-model="home.regData.consmeters" required>
        </div>
      </div>


      <div class="row">
        <div class="form-group col-sm-6">
          <label>Puestos de estacionamiento</label>
          <select class="form-control" ng-model="home.regData.parking">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
          </select>
        </div>
        <div class="form-group col-sm-3 text-center">
          <label>Calle Cerrada: {{ home.streetclose }}</label>
          <md-switch ng-click="home.streetcloseText()" style="width:50px; margin: 0px auto;" class="md-primary" ng-model="home.regData.streetclose" aria-label="Switch 1"></md-switch>
        </div>
        <div class="form-group col-sm-3 text-center">
          <label>Vigilante: {{ home.guard }}</label>
          <md-switch ng-click="home.guardText()" style="width:50px; margin: 0px auto;" class="md-warn" ng-model="home.regData.guard" aria-label="Switch 2"></md-switch>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-6">
          <label>Antiguedad del inmueble (años)</label>
          <input class="form-control text-center" type="text" ui-number-mask="0" placeholder="Años" ng-model="home.regData.age" required>
        </div>
        <div class="form-group col-sm-6">
          <label>Precio (BsF)</label>
          <input class="form-control text-center" type="text" ui-number-mask="0" placeholder="BsF. 1,000,000.00" ng-model="home.regData.price" required>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <label>Puntos de interes cercanos</label>
        </div>
        <textarea class="form-control" rows="3" ng-model="home.regData.near_places"></textarea>
      </div>

      <div class="row text-center">
        <h1>{{ home.regData.price | currency:"BsF. "}}</h1>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h2>Datos del contrato</h2>
        </div>
        <div class="col-sm-4">
          <label>Nombre y Apellido</label>
          <input type="text" class="form-control" placeholder="Jane Doe"ng-model="home.regData.pro_name">
        </div>
        <div class="col-sm-4">
          <label>Telefono</label>
          <input type="text" class="form-control" placeholder="04149999999" ng-model="home.regData.pro_phone">
        </div>
        <div class="col-sm-4">
          <label>Cédula</label>
          <input type="text" class="form-control" placeholder="V-xxxxxxxx" ng-model="home.regData.pro_CI">
        </div>
        <div class="col-sm-8">
          <label>Domicilio</label>
          <input type="text" class="form-control" placeholder="Urb, Municipio, Ciudad" ng-model="home.regData.pro_direction">
        </div>
        <div class="col-sm-4">
          <label>Correo</label>
          <input type="email" class="form-control" placeholder="Jogn@ode.com" ng-model="home.regData.pro_email">
        </div>
        <div class="col-sm-4">
          <label>Precio Mínimo de venta</label>
          <input class="form-control text-center" type="text" placeholder="BsF. 1,000,000.00" ng-model="home.regData.pro_minPrice" ui-number-mask="0">
        </div>
        <div class="col-sm-4">
          <label>Porcentaje por venta</label>
          <input class="form-control text-center" type="text" placeholder="5.5%" ng-model="home.regData.pro_porcentaje" ui-percentage-mask>
        </div>
        <div class="col-sm-4">
          <label>Porcentaje de comision para colaborador</label>
          <input class="form-control text-center" type="text" placeholder="5.3%" ng-model="home.regData.pro_porcentajeColab" ui-percentage-mask>
        </div>
        <div class="col-sm-4 col-sm-offset-4">
          <label>{{home.exclusive}} Exclusividad</label>
          <md-switch ng-click="home.exclusiveText()" style="width:50px; margin: 0px auto;" class="md-primary" ng-model="home.regData.pro_exclusive" aria-label="Switch 4"></md-switch>
        </div>
        <div class="col-sm-12">
          <h3>Notas Personales</h3>
          <textarea class="form-control" rows="3" ng-model="home.regData.pro_notes"></textarea>
        </div>

      </div>


      <br>
      <button class="btn btn-primary" type="submit">Agregar</button>

    </form>

    <div class="jumbotron text-center" ng-show="home.loading">
      <span class="glyphicon glyphicon-repeat spinner"></span>
      <p>Cargando...</p>
    </div>
  </div>
</div>


<!-- =========================================================== -->
<div class="container">
  <div class="row" style="margin: 5px 0px;">
    <p class="col-md-8 col-md-offset-2 text-center">
      Como una de las funciones de la plataforma, puede seleccionar 2 inmuebles y compararlos pisando el botón
    </p>
  </div>

  <div class="row">
    <div class="form-group col-sm-2">
      <select class="form-control" ng-model="orderByArgument">
        <option value="created_at">Fecha</option>
        <option value="price">Precio</option>
        <option value="z">Avanzada</option>
      </select>
    </div>
    <div class="col-sm-2 form-inline">
      <div class="form-group">
        <i class="fa fa-sort-amount-asc fa-lg" aria-hidden="true" ></i>
        <label><md-switch class="md-primary" style="margin: 0px;"ng-model="orderByToggle" aria-label="Switch 7"></md-switch></label>
        <i class="fa fa-sort-amount-desc fa-lg" aria-hidden="true" ></i>
      </div>

    </div>
    <button class="btn btn-primary col-sm-4 text-center" type="button" ng-click="home.compareHouses()" ng-disabled="!disabled">Comparar</button>
  </div>

  <div class="row houses-home">
    <div ng-repeat="item in home.houses | filter: searchParams | customSearch:searchHouse.price.max:searchHouse.price.min | orderBy: orderByArgument : orderByToggle "
         ng-click="setSelected(item._id)">

      <div class="col-lg-4 col-sm-6 col-xs-12 col-sm-offset-0">
        <div class="thumbnail" ng-class="setClassSelected(item._id, item.classZ, $index)">

          <div class="image-div">
            <img ng-src="{{item.picture.url | fpConvert: {filter:'sharpen', w:300, h:150} }}" />
          </div>

          <div class="caption text-center">

            <h3>{{item.price | currency:"Bsf "}}</h3>
            <p>
              <i class="fa fa-bath" aria-hidden="true"></i> {{ item.bathrooms }} <span style="padding: 0px 5px;"></span>
              <i class="fa fa-hotel" aria-hidden="true"></i> {{ item.rooms }} <span style="padding: 0px 5px;"></span>
              <i class="fa fa-car" aria-hidden="true"></i> {{ item.parking }}
            </p>
            <p>
              <i class="fa fa-home" aria-hidden="true"></i> {{ item.consmeters }}m<sup>2</sup> <span style="padding: 0px 5px;"></span>
              <i class="fa fa-map" aria-hidden="true"></i> {{ item.meters }}m<sup>2</sup>
            </p>
            <p ng-show="item.z">
              Valor de z: {{ item.z}}
            </p>
            <p><label>Ubicación: </label> {{item.address}}</p>
            <a href="/house/{{ item._id }}" ng-show="sheckLogIng()">
              <button type="button" class="btn btn-info ">Ver</button>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>
