<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">

      <div class="row">
        <label class="col-sm-2">Que Buscas? </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Ubicacion" ng-model="searchHouse.address" ng-change="newPagination()">
        </div>
        <div style="margin-top:40px;">
          <label class="col-sm-3">Precio Minimo:</label>
          <div class="col-sm-3">
            <input type="number" class="form-control col-sm-3" placeholder="Precio Minimo" ng-model="searchHouse.price.min" value="0" ng-change="newPagination()">
          </div>

          <label class="col-sm-3">Precio Maximo:</label>
          <div class="col-sm-3">
            <input type="number" class="form-control col-sm-3" placeholder="Precio Maximo" ng-model="searchHouse.price.max" value="10000000000"ng-change="newPagination()">
          </div>
        </div>
      </div>


      <!-- <nit-advanced-searchbox
      	ng-model="searchParams"
      	parameters="availableSearchParams"
      	placeholder="Search...">
      </nit-advanced-searchbox> -->

      <div class="row" style="margin: 10px 0px">
        <div class="col-sm-4 col-xs-12">
          <button class="btn btn-warning col-sm-10 col-xs-12" type="button" ng-click="home.addPriority()"> Agregar Prioridades </button>
        </div>
        <div class="col-sm-4 col-xs-12">
          <button class="btn btn-success col-sm-10 col-xs-12" type="button" ng-click="home.addHouse()" >Publicar un hogar</button>
        </div>
        <div class="col-sm-4 col-xs-12">
          <button class="btn btn-primary col-sm-10 col-xs-12" type="button" ng-click="home.compareHouses()" ng-show="disabled">Comparar</button>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="container" ng-show="home.priorities">
  <div class="row">
    <h1 class="text-center">Sistema de prioridades</h1>
  </div>
  <div class="row">
    <div class="panel panel-info col-md-8">
      <div class="panel-heading" style="text-align: center;">
        <strong>Metas</strong></strong>
      </div>
      <table class="table">
        <tr ng-repeat="item in home.priorityGoal">
          <td class="col-sm-4">{{ item.nombre }}</td>
          <td class="col-sm-4">{{ item.value }}</td>
          <td class="col-sm-3">
            <i class="fa fa-arrow-left" aria-hidden="true" ng-click="minusPercentaje($index)" ng-show="item.percentaje>0"></i>
            <label>{{ item.percentaje }}</label>
            <i class="fa fa-arrow-right" aria-hidden="true" ng-click="plusPercentaje($index)" ng-show="home.leftPercentaje>0"></i>
          </td>
          <td class="col-sm-1">
            <i class="fa fa-times" aria-hidden="true" ng-click="ereasePriority($index)"></i>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-4" >
      <div ng-show="home.priorityGoal.length>0">
        <fusioncharts

            width="100%"
            height="200"
            type="pie3d"
            datasource="{{myDataSource}}"
        ></fusioncharts>
      </div>
      <label>Disponible: {{ home.leftPercentaje }}</label>

    </div>

  </div>

  <div class="row">
    <form class="form-inline" ng-submit="home.addGoal()">
      <div class="form-group">
        <label>Posibles prioridades</label>
        <select class="form-control" ng-model="home.prioritySelected">
          <option>--Seleccione--</option>
          <option ng-repeat="option in home.availableOptions" >{{option.nombre}}</option>
        </select>
        <input type="number" class="form-control" ng-model="home.priorityInputA" placeholder="ej: 1000.00"
          ng-hide="home.prioritySelected == 'Baños'|| home.prioritySelected == 'Cuartos' || home.prioritySelected == 'Estacionamiento' || home.prioritySelected == 'Calle Cerrada'|| home.prioritySelected == 'Vigilante'">
        <select class="form-control text-center" ng-model="home.priorityInputB"
          ng-show="home.prioritySelected == 'Baños'|| home.prioritySelected == 'Cuartos' || home.prioritySelected == 'Estacionamiento'">
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
        </select>
        <select class="form-control text-center" ng-model="home.priorityInputC"
          ng-show="home.prioritySelected == 'Calle Cerrada'|| home.prioritySelected == 'Vigilante'">
          <option>Si</option>
          <option>No</option>
        </select>
      </div>
      <button type="submit" class="btn btn-link"><i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i></button>
    </form>
  </div>

</div>

<!-- ============== MODAL COMPARACION HOGARES =================-->

<!-- Modal -->
<div class="modal fade text-center" id="userHouseAuth" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" ng-click="hideModal()" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Necesitas haber ingresado</h4>
      </div>
      <div class="modal-body">
        <p>Para poder publicar un Hogar, necesitas estar registrado</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="main.setLocation('/register')" data-dismiss="modal">Registrarse</button>
        <button type="button" class="btn btn-danger" ng-click="main.setLocation('/login')" data-dismiss="modal">Ingresar</button>
      </div>
    </div>

  </div>
</div>

<div class="modal fade text-center" id="compareModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" ng-click="hideModal2()" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Comparacion de inmuebles</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align: center;">
            <strong>Caracteristicas del Hogar</strong></strong>
          </div>
          <table class="table">
            <tr>
              <td><strong>A comparar</strong></td>
              <td><strong>A</strong></td>
              <td><strong>B</strong></td>
            </tr>
            <tr>
              <td><strong>Direccion</strong></td>
              <td>{{ home.compare[0].address }}</td>
              <td>{{ home.compare[1].address }}</td>
            </tr>
            <tr>
              <td><strong>Edad</strong></td>
              <td ng-class="{'success': home.compare[0].age < home.compare[1].age}">{{ home.compare[0].age }}</td>
              <td ng-class="{'success': home.compare[1].age<home.compare[0].age}">{{ home.compare[1].age }}</td>
            </tr>
            <tr>
              <td><strong>Baños</strong></td>
              <td ng-class="{'success': home.compare[0].bathrooms > home.compare[1].bathrooms}">{{ home.compare[0].bathrooms }}</td>
              <td ng-class="{'success': home.compare[0].bathrooms < home.compare[1].bathrooms}">{{ home.compare[1].bathrooms }}</td>
            </tr>
            <tr>
              <td><strong>Dimensiones X</strong></td>
              <td ng-class="{'success': home.compare[0].dimensionsX > home.compare[1].dimensionsX}">{{ home.compare[0].dimensionsX }}</td>
              <td ng-class="{'success': home.compare[0].dimensionsX < home.compare[1].dimensionsX}">{{ home.compare[1].dimensionsX }}</td>
            </tr>
            <tr>
              <td><strong>Dimensiones Y</strong></td>
              <td ng-class="{'success': home.compare[0].dimensionsY > home.compare[1].dimensionsY}">{{ home.compare[0].dimensionsY }}</td>
              <td ng-class="{'success': home.compare[0].dimensionsY < home.compare[1].dimensionsY}">{{ home.compare[1].dimensionsY }}</td>
            </tr>
            <tr>
              <td><strong>Dimensiones Z</strong></td>
              <td ng-class="{'success': home.compare[0].dimensionsZ > home.compare[1].dimensionsZ}">{{ home.compare[0].dimensionsZ }}</td>
              <td ng-class="{'success': home.compare[0].dimensionsZ < home.compare[1].dimensionsZ}">{{ home.compare[1].dimensionsZ }}</td>
            </tr>
            <tr>
              <td><strong>Vigilancia</strong></td>
              <td ng-class="{'success': home.compare[0].guard === 'Si'}"><strong>{{ home.compare[0].guard }}</strong> hay Vigilante</td>
              <td ng-class="{'success': home.compare[1].guard === 'Si'}"><strong>{{ home.compare[1].guard }}</strong> hay Vigilante</td>
            </tr>
            <tr>
              <td><strong>Metros Cuadrados</strong></td>
              <td ng-class="{'success': home.compare[0].meters > home.compare[1].meters}">{{ home.compare[0].meters }}</td>
              <td ng-class="{'success': home.compare[0].meters < home.compare[1].meters}">{{ home.compare[1].meters }}</td>
            </tr>
            <tr>
              <td><strong>Metros Cuadrados de Construccion</strong></td>
              <td ng-class="{'success': home.compare[0].consmeters > home.compare[1].consmeters}">{{ home.compare[0].consmeters }}</td>
              <td ng-class="{'success': home.compare[0].consmeters < home.compare[1].consmeters}">{{ home.compare[1].consmeters }}</td>
            </tr>
            <tr>
              <td><strong>Estacionamiento</strong></td>
              <td ng-class="{'success': home.compare[0].parking > home.compare[1].parking}">{{ home.compare[0].parking }}</td>
              <td ng-class="{'success': home.compare[0].parking < home.compare[1].parking}">{{ home.compare[1].parking }}</td>
            </tr>
            <tr>
              <td><strong>Habitaciones</strong></td>
              <td ng-class="{'success': home.compare[0].rooms > home.compare[1].rooms}">{{ home.compare[0].rooms }}</td>
              <td ng-class="{'success': home.compare[0].rooms < home.compare[1].rooms}">{{ home.compare[1].rooms }}</td>
            </tr>
            <tr>
              <td><strong>Calle Cerrada </strong></td>
              <td ng-class="{'success': home.compare[0].streetclose === 'Abierta'}">{{ home.compare[0].streetclose }}</td>
              <td ng-class="{'success': home.compare[1].streetclose === 'Abierta'}">{{ home.compare[1].streetclose }}</td>
            </tr>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="main.setLocation('/house/'+idSelected[0])" data-dismiss="modal">Ver A</button>
        <button type="button" class="btn btn-danger" ng-click="main.setLocation('/house/'+idSelected[1])" data-dismiss="modal">Ver B</button>
      </div>
    </div>

  </div>
</div>

<!-- ====================== REGISTRO HOGAR ============== -->

<div class="container-fluid text-center" ng-show="regHouseForm">
  <div class="container">
    <div class="page-header">
      <h1>Registro de Hogar</h1>
    </div>
    <div class="row show-hide-message" ng-show="home.successMsg">
      <br>
      <div class="alert alert-success ">{{ home.successMsg }}</div>
    </div>

    <div class="row show-hide-message" ng-show="home.errorMsg">
      <br>
      <div class="alert alert-danger">{{ home.errorMsg }}</div>
    </div>

    <form class="col-sm-8 col-sm-offset-2" name="regHomeForm" ng-submit="home.regHouse(regData)" novalidate>

      <div class="row">
        <div class="form-group">
            <label for="picture">Imagen Principal</label>
            <div class="text-center">
                <button type="button" class="btn btn-default" ng-click="upload()">
                    Subir <span class="caret"></span>
                </button>
                <div style="margin-top:10px;">
                    <!-- Show the thumbnail only when the picture is uploaded -->
                    <a href="{{superhero.picture.url}}" class="thumbnail" ng-if="superhero.picture">
                    <!-- the picture is rendered with width: 500 and sharpened -->
                    <img ng-src="{{superhero.picture.url | fpConvert: {filter:'sharpen'} }}">
                    </a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="picture">Mas imagenes? (Max 10, opcional!)</label>
            <div class="text-center">
              <button type="button" class="btn btn-default" ng-click="uploadMultiple()" ng-show="max>0">
                Subir <span class="caret"></span>
              </button>
              <!-- Show the thumbanil of more pictures -->
                  <div style="margin-top:10px;" ng-repeat="picture in superhero.morePictures">     <div class="col-md-{{12 / superhero.morePictures.length}}">
                      <a href="{{picture.url}}" class="thumbnail">
                        <img ng-src="{{picture.url | fpConvert: {filter:'sharpen'} }}">
                      </a>
                  </div>
              </div>
            </div>
        </div>
      </div>

      <div class="row">
        <div id="map"></div>
      </div>



      <!-- Direccion -->
      <div class="row">
        <div class="form-group col-sm-10">
          <label>Dirección</label>
          <input class="form-control text-center" type="text" name="name" placeholder="Ej: El cafetal, calle limon, Qta wachu" ng-model="home.regData.address" required>
        </div>
        <div class="form-group col-sm-2">
          <label>Zona</label>
          <p class="form-control-static">{{home.regData.zonetype}}</p>
        </div>


      </div>
      <br>
      <div class="row">
        <div class="form-group col-sm-6">
          <label>Habitaciones</label>
          <select class="form-control text-center" ng-model="home.regData.rooms">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
          </select>
        </div>

        <!-- Bathrooms -->
        <div class="form-group col-sm-6">
          <label>Baños</label>
          <select class="form-control" ng-model="home.regData.bathrooms">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
          </select>
        </div>
      </div>

      <div class="row form-group">
        <!-- Dimensiones -->
        <div class="col-sm-12">
          <label>Dimensiones</label>
        </div>
        <div class="col-sm-3">
          <input class="form-control text-center" type="number" ng-min="0" step="0.01" placeholder="Ancho" ng-model="home.regData.dimensionsX" required>
        </div>
        <div class="col-sm-1 text-center">
          <span>x</span>
        </div>
        <div class="col-sm-4">
          <input class="form-control text-center" type="number" ng-min="0" step="0.001" placeholder="Largo" ng-model="home.regData.dimensionsY" required>
        </div>
        <div class="col-sm-1 text-center">
          <span>x</span>
        </div>
        <div class=" col-sm-3">
          <input class="form-control text-center" type="number" ng-min="0" step="0.001" placeholder="Alto" ng-model="home.regData.dimensionsZ" required>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-6">
          <label>Metros Cuadrados (m^2) </label>
          <input class="form-control text-center" type="number" ng-min="0" step="0.01" placeholder="ej: 1,253.4" ng-model="home.regData.meters" required>
        </div>
        <div class="form-group col-sm-6">
          <label>Metros de Contrucción (m^2)</label>
          <input class="form-control text-center" type="number" ng-min="0" step="0.01" placeholder="ej: 1,253.4" ng-model="home.regData.consmeters" required>
        </div>
      </div>


      <div class="row">
        <div class="form-group col-sm-6">
          <label>Estacionamineto</label>
          <select class="form-control" ng-model="home.regData.parking">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
          </select>
        </div>
        <div class="form-group col-sm-3 text-center">
          <label>Calle Cerrada: {{ home.streetclose }}</label>
          <md-switch ng-click="home.streetcloseText()" style="width:50px; margin: 0px auto;" class="md-primary" ng-model="home.regData.streetclose" aria-label="Switch 1"></md-switch>
        </div>
        <div class="form-group col-sm-3 text-center">
          <label>Vigilante: {{ home.guard }}</label>
            <md-switch ng-click="home.guardText()" style="width:50px; margin: 0px auto;" class="md-warn" ng-model="home.regData.guard" aria-label="Switch 2"></md-switch>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-6">
          <label>Edad del Inmueble (años)</label>
          <input class="form-control text-center" type="number" placeholder="Años" ng-model="home.regData.age" required>
        </div>
        <div class="form-group col-sm-6">
          <label>Precio</label>
          <input class="form-control text-center" type="number" placeholder="1,000,000.00Bsf" ng-model="home.regData.price" required>
        </div>
      </div>

      <div class="row text-center">
        <h1>{{ home.regData.price | currency:"Bsf "}}</h1>
      </div>

      <br>
      <button class="btn btn-primary" type="submit">Agregar</button>

    </form>

    <div class="jumbotron text-center" ng-show="home.loading">
      <span class="glyphicon glyphicon-repeat spinner"></span>
      <p>Cargando...</p>
    </div>
  </div>
</div>


<!-- =========================================================== -->
<div class="container">

  <div class="row houses-home">
    <!-- <div ng-repeat="item in filtered = ( home.houses.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter: searchHouse)"> -->
    <!-- <div ng-repeat="item in home.houses | filter: searchParams | orderBy: 'created_at':true "> -->
    <!-- <div ng-repeat="item in home.houses | filter: {address: searchHouse} | orderBy: 'created_at':true "> -->
    <div ng-repeat="item in home.houses | customSearch:searchHouse.address:searchHouse.price.max:searchHouse.price.min | orderBy: 'created_at':true "
         ng-click="setSelected(item._id)">

      <div class="col-lg-4 col-sm-6 col-xs-12 col-sm-offset-0">
        <div class="thumbnail" ng-class="setClassSelected(item._id)">

          <div class="image-div">
            <img ng-src="{{item.picture.url | fpConvert: {filter:'sharpen', w:300, h:150} }}" />
          </div>

          <div class="caption text-center">
            <h3>{{item.price | currency:"Bsf "}}</h3>
            <p><label>Ubicación: </label> {{item.address}}</p>
            <a href="/house/{{ item._id }}">
              <button type="button" class="btn btn-info ">Ver</button>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>





<div class="container-fluid home-text">
  <div class="col-xs-12 col-md-offset-2 col-md-8">
    <p>
      Living House es una plataforma para corredores que te permitira publicar, buscar y
      comparar entre los inmuebles disponibles en la region de tu seleccion (Solo disponible
      en la Floresta, Mun CHACAO por los momentos).
    </p>
    <p>
      Ven y se parte de la revolucion tecnologica en la venta de inmuebles.
    </p>
    <h3>
      "Tener prioridades es mejor que eliminar opciones" <strong>-LH</strong>
    </h3>
  </div>
</div>
