<div class="container-fluid text-center">
  <div class="container">
    <div class="page-header">
      <h1>Editar el Hogar</h1>
    </div>
    <div class="row show-hide-message" ng-show="editHouse.successMsg">
      <br>
      <div class="alert alert-success ">{{ editHouse.successMsg }}</div>
    </div>

    <div class="row show-hide-message" ng-show="editHouse.errorMsg">
      <br>
      <div class="alert alert-danger">{{ editHouse.errorMsg }}</div>
    </div>

    <form class="col-sm-8 col-sm-offset-2" style="margin-bottom:20px" name="editHouse.editForm" ng-submit="editHouse.editHouse(editHouse.data)" novalidate>

      <div class="row">
        <div class="form-group">
            <label for="picture">Imagen Principal</label>
            <div class="text-center">

                <div style="margin-top:10px;">
                  <!-- Show the thumbnail only when the picture is uploaded -->
                  <div class="thumbnail" ng-if="editHouse.data.picture">
                  <!-- the picture is rendered with width: 500 and sharpened -->
                    <img ng-src="{{superhero.picture.url | fpConvert: {filter:'sharpen'} }}">
                    <button type="button" class="btn btn-default" ng-click="upload()">
                      Editar
                    </button>
                  </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="picture">Otras Imagenes (max: 10)</label>
            <div class="text-center">

              <!-- Show the thumbanil of more pictures -->
              <div style="margin-top:10px;" ng-repeat="picture in editHouse.data.morePictures">
                <div class="col-md-4">
                  <div class="thumbnail">
                    <img ng-src="{{picture.url | fpConvert: {filter:'sharpen'} }}">
                    <button type="button" class="btn btn-default" ng-click="upload2($index)">
                      Editar
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="deleteUpload($index)">
                      Eliminar
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-4" ng-show="max>0">
                <div class="thumbnail ">
                  (10/{{max}})
                  <button type="button" class="btn btn-default" ng-click="uploadMultiple($index)">
                    Agregar
                  </button>
                </div>
              </div>


            </div>
        </div>
      </div>

      <div class="row">
        <div id="map"></div>
      </div>



      <!-- Direccion -->
      <label>Dirección</label>
      <input class="form-control text-center" type="text" name="name" placeholder="Ej: El cafetal, calle limon, Qta wachu" ng-model="editHouse.data.address" required>
      <br>
      <div class="row">
        <div class="form-group col-sm-6">
          <label>Habitaciones</label>
          <select class="form-control text-center" ng-model="editHouse.data.rooms">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
          </select>
        </div>

        <!-- Bathrooms -->
        <div class="form-group col-sm-6">
          <label>Baños</label>
          <select class="form-control" ng-model="editHouse.data.bathrooms">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
          </select>
        </div>
      </div>

      <div class="row form-group">
        <!-- Dimensiones -->
        <div class="col-sm-12">
          <label>Dimensiones</label>
        </div>
        <div class="col-sm-3">
          <input class="form-control text-center" type="number" ng-min="0" step="0.01" placeholder="Ancho" ng-model="editHouse.data.dimensionsX" required>
        </div>
        <div class="col-sm-1 text-center">
          <span>x</span>
        </div>
        <div class="col-sm-4">
          <input class="form-control text-center" type="number" ng-min="0" step="0.001" placeholder="Largo" ng-model="editHouse.data.dimensionsY" required>
        </div>
        <div class="col-sm-1 text-center">
          <span>x</span>
        </div>
        <div class=" col-sm-3">
          <input class="form-control text-center" type="number" ng-min="0" step="0.001" placeholder="Alto" ng-model="editHouse.data.dimensionsZ" required>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-6">
          <label>Metros Cuadrados (m^2) </label>
          <input class="form-control text-center" type="number" ng-min="0" step="0.01" placeholder="ej: 1,253.4" ng-model="editHouse.data.meters" required>
        </div>
        <div class="form-group col-sm-6">
          <label>Metros de Contrucción (m^2)</label>
          <input class="form-control text-center" type="number" ng-min="0" step="0.01" placeholder="ej: 1,253.4" ng-model="editHouse.data.consmeters" required>
        </div>
      </div>


      <div class="row">
        <div class="form-group col-sm-6">
          <label>Estacionamineto</label>
          <select class="form-control" ng-model="editHouse.data.parking">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
          </select>
        </div>
        <div class="form-group col-sm-3 text-center">
          <label>Calle Cerrada: {{ home.streetclose }}</label>
            <md-switch ng-click="home.streetcloseText()" style="width:50px; margin: 0px auto;" class="md-primary" ng-model="editHouse.data.streetclose" aria-label="Switch 1"></md-switch>
          </div>
        <div class="form-group col-sm-3 text-center">
          <label>Vigilante: {{ home.guard }}</label>
            <md-switch ng-click="home.guardText()" style="width:50px; margin: 0px auto;" class="md-warn" ng-model="editHouse.data.guard" aria-label="Switch 2"></md-switch>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-6">
          <label>Edad del Inmueble (años)</label>
          <input class="form-control text-center" type="number" placeholder="Años" ng-model="editHouse.data.age" required>
        </div>
        <div class="form-group col-sm-6">
          <label>Precio</label>
          <input class="form-control text-center" type="number" placeholder="1,000,000.00Bsf" ng-model="editHouse.data.price" required>
        </div>
      </div>

      <div class="row text-center">
        <h1>{{ editHouse.data.price | currency:"Bsf "}}</h1>
      </div>

      <br>
      <button class="btn btn-primary" type="submit">Guardar</button>
      <button class="btn btn-danger" ng-click="openModal()">Eliminar</button>

      <div class="modal fade text-center" id="houseEliminate" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" ng-click="hideModal()" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Si la elimnas se perderan todos los datos.</h4>
            </div>
            <div class="modal-footer text-center">
              <button type="button" class="btn btn-danger" ng-click="eliminate()" data-dismiss="modal">Elminar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
