<div class="container ">

  <div class="panel panel-info ">
    <div class="panel-heading" style="text-align: center; font-size: 16px;">
      <strong>Perfil de {{ main.user.name }}</strong>
    </div>
    <table class="table text-center">
      <tr>
        <td class="col-xs-6"><strong>Nombre</strong></td>
        <td class="col-xs-6">{{ main.user.name }}</td>
      </tr>
      <tr>
        <td><strong>Apellido</strong></td>
        <td>{{ main.user.lastname }}</td>
      </tr>
      <tr>
        <td><strong>Fecha de Nacimiento</strong></td>
        <td>{{ main.user.birth | date:'dd/MM/yyyy' }}</td>
      </tr>
      <tr>
        <td><strong>Genero</strong></td>
        <td>{{ main.user.gender }}</td>
      </tr>
      <tr>
        <td><strong>Ciudad</strong></td>
        <td>{{ main.user.city }}</td>
      </tr>
      <tr>
        <td><strong>Telefono</strong></td>
        <td>{{ main.user.phone }}</td>
      </tr>
      <tr>
        <td><strong>Email</strong></td>
        <td>{{ main.user.email }}</td>
      </tr>
    </table>
  </div>
  <div class="row text-center">
    <a href="/edit/{{ main.user._id }}">
      <button type="button" class="btn btn-primary ">Editar Perfil</button>
    </a>
  </div>
  <div class="col-xs-12 text-center">
    <h1>Mis Publicaciones</h1>
    <h3 ng-show="main.user.houses.notHouses">No ha realizado ninguna publicación</h3>
  </div>


  <div class="row houses-home"><div ng-repeat="item in main.user.houses | orderBy: 'created_at':true ">
      <div class="col-lg-4 col-sm-6 col-xs-12 col-sm-offset-0">
        <div class="thumbnail">
          <div class="image-div">
            <img ng-src="{{item.picture.url | fpConvert: {filter:'sharpen', w:300, h:150} }}" />
          </div>

          <div class="caption text-center">
            <h3>{{item.price | currency:"Bsf "}}</h3>
            <p><label>Ubicación: </label> {{item.address}}</p>
            <a href="/house/{{ item._id }}">
              <button type="button" class="btn btn-info ">Ver</button>
            </a>
            <a href="/house/edit/{{ item._id }}">
              <button type="button" class="btn btn-primary ">Editar</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
