<div class="page-header">
  <h1>Administracion de Usuarios</h1>
</div>

<br>

<div class="jumbotron text-center" ng-show="management.loading">
  <span class="glyphicon glyphicon-repeat spinner"></span>
  <p>Cargando...</p>
</div>

<br>


<div class="showmore">
  <div class="col-xs-12 col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">Resultados a mostrar:</span>
      <input type="text" class="form-control" ng-model="number">
    </div>
  </div>
  <div class="col-xs-6">
    <button type="button" ng-click="management.showMore(number)" class="btn btn-success">Agregar filtros</button>
    <button type="button" ng-click="management.showAll()" class="btn btn-warning">Mostrar Todos</button>
  </div>

</div>

<div class="navbar-form">
  <div class="form-group">
    <input type="text" class="form-control" name="search" placeholder="Buscabas a..." ng-model="searchKeyword" >
  </div>
  <button type="button" ng-click="management.search(searchKeyword, number)" class="btn btn-default">Buscar</button>
  <button type="button" ng-click="management.clear()" class="btn btn-default">Limpiar</button>
</div>

<br>

<div  ng-show="searchFilter !== undefined">
  <p>
    <strong>Total de resultados:</strong>
    {{ (management.users | filter: searchFilter).length }}
  </p>
</div>
<div ng-show="searchFilter !== undefined">
  <p>
    <strong>Mostrando:</strong>
    {{ (management.users | filter: searchFilter | limitTo: management.limit).length }}
  </p>
</div>
<br>

<div class="row show-hide-message" ng-show="management.errorShowMore">
  <div class="alert alert-danger">{{ management.errorShowMore }}</div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <strong>Administracion de Usuarios</strong>
  </div>
  <table class="table">
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Telefono</th>
      <th>Ciudad</th>
      <th>Genero</th>
      <th>Nacimiento</th>
      <th>Role</th>
    </tr>
    <tr ng-repeat="person in management.users | filter: searchFilter | limitTo: management.limit">
      <th>{{ person.name }}</th>
      <th>{{ person.lastname }}</th>
      <th>{{ person.email }}</th>
      <th>{{ person.phone }}</th>
      <th>{{ person.city }}</th>
      <th>{{ person.gender }}</th>
      <th>{{ person.birth | date:'dd/MM/yyyy' }}</th>
      <th>{{ person.permission }}</th>
      <th>
        <a href="/edit/{{ person._id }}">
          <button type="button" ng-show="management.editAccess" class="btn btn-primary">Edit</button>
        </a>
          <button type="button" ng-show="management.deleteAccess" ng-click="management.deleteUser(person.email)" class="btn btn-danger">Borrar</button>
      </th>
    </tr>
  </table>

</div>

<br>

<div class="row show-hide-message" ng-show="management.successMsg">
  <div class="alert alert-success ">{{ management.successMsg }}</div>
</div>

<br>

<div class="row show-hide-message" ng-show="management.errorMsg">
  <div class="alert alert-danger">{{ management.errorMsg }}</div>
</div>
